<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="description"
        content="A clean, beautiful and responsive portfolio template for Developers! using only Html, CSS, and JavaScript">
    <meta name="author" content="Cai Jiechao">
    <title>Cai Jiechao | Software Developer</title>
    <link rel="icon" href="../../index_page/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../css/header.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <link href="../css/home.css" rel="stylesheet" />
    <link href="../css/about.css" rel="stylesheet" />
    <link href="../css/service.css" rel="stylesheet" />
    <link href="../css/portfolio.css" rel="stylesheet" />
    <link href="../css/testimonials.css" rel="stylesheet" />
    <link href="../css/testimonials.css" rel="stylesheet" />
    <link href="../css/blog.css" rel="stylesheet" />
    <link href="../css/contact.css" rel="stylesheet" />
    <link href="../css/footer.css" rel="stylesheet" />
    <style>
        header {
            background-color: #333;
            /* 固定背景颜色 */
            position: fixed;
            /* 固定在顶部 */
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
            /* 确保在其他内容之上 */
        }

        .col-md-18 p {
            font-size: 18px;
            /* 修改段落字体大小 */
        }
    </style>
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="brand-name">
                    <a href="/" class="logo">CaiJiechao</a>
                </div>
                <div class="navbar">
                    <ul>
                        <li><a href="index.html#home">Home</a></li>
                        <li><a href="index.html#about">About</a></li>
                        <li><a href="index.html#services">Skills</a></li>
                        <li><a href="index.html#portfolio">Portfolio</a></li>
                        <li><a href="index.html#blog">Blog</a></li>
                        <li><a href="index.html#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <section class="services" id="services">
        <div class="container">
            <div class="row">
                <div class="title text-center">
                    <h1 style="text-transform: none;">I am a template. Using cpp to generate a chat program</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-18">
                    <p>I am a templeate. In this project, I used C++ to create a chat program that allows users to
                        communicate with each
                        other In this project, I used C++ to create a chat program that allows users to communicate with
                        each
                        other
                        <br>
                        <br>
                    <div style="text-align: center;">
                        <img src="blog_img/article1/1.jpg" alt="chat program"
                            style="width: 60%; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                    </div>
                    <br>
                    <br>
                    And here is a picture
                    <p>

                </div>
            </div>
        </div>
    </section>

    <section class="copyright">
        <div class="container">
            <div class="social-link">
                <p>Designed and Developed By Cai Jiechao.</p>
            </div>
        </div>
    </section>
    <div class="lightbox hide">
        <span class="close-lightbox fa fa-close"></span>
        <img src="" alt="portfolio" />
    </div>

</body>

</html>